@page
@using StockTrade.Application.Interfaces.API;
@inject IMarketAPIRepository _marketRepo;
@model Gihun_StockTrade_Portpolio.Pages.Market.IndexModel
@{

    var news =  _marketRepo.GetMarketNews().Result.data.main.stream;
}

<div style="height:30px; background-color:antiquewhite">
    <a asp-page="/Market/Index" asp-page-handler="Index"> United States </a> &nbsp;
    <a asp-page="" asp-page-handler=""> Hong Kong </a> &nbsp;
    <a asp-page="" asp-page-handler=""> Global </a> &nbsp;
    <a asp-page="/Market/Index" asp-page-handler="Crypto"> Crypto </a> &nbsp;
</div>

<div class="card-group" style="margin-left:3px;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Market Index</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">News</h5>
            @foreach (var item in news)
            {
                string Url = string.Empty;

                @if (@item.content.clickThroughUrl == null)
                {
                    Url = item.content.previewUrl.ToString();
                }
                else
                {
                    Url = item.content.clickThroughUrl.url.ToString();
                }
                <p> @item.content.pubDate.ToShortTimeString() </p>

                <a href="Url" target="_blank">
                    <p> @item.content.title.ToString() </p>
                </a>
            }
        </div>
    </div>
</div>

<br/>

<div class="card-group" style="margin-left:3px;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">IPO Centre</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

<br />

<div class="card-group" style="margin-left:3px;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>