@using StockTrade.Application.ViewModel.API.StocksViewModel.ChartEntities;


@model List<StockChartViewModel>
@{
    var data = ViewData["StockChartResult"] as List<StockChartViewModel>;
    var title = ViewData["StockName"] as string;
}

@if( Model == null )
{
    <p> Select one Symbol if you want to see a chart </p>
}
else
{
    <ejs-stockchart id="stockchart" title="@title Stock Price" width="2050px" height="600px">
        <e-stockchart-series-collection>
            <e-stockchart-series type=Line dataSource=@data> </e-stockchart-series>
        </e-stockchart-series-collection>
        <e-stockchart-tooltipsettings enable="true"></e-stockchart-tooltipsettings>
        <e-stockchart-crosshairsettings enable="true"></e-stockchart-crosshairsettings>
    </ejs-stockchart>
}
