@page
@Html.AntiForgeryToken()
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1> 먼저 로그인해주세요. </h1>
<h2> ID: tt@tt.com </h2>
<h2> PW: tt </h2>