@page
@Html.AntiForgeryToken()
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
  <ejs-calendar id="calendar"></ejs-calendar>
</div>

<ejs-splitter id="splitter" height="250px" width="600px">
    <e-splitter-panes>
        <e-splitter-pane content="<div></div>"></e-splitter-pane>
        <e-splitter-pane content="<div></div>"></e-splitter-pane>
        <e-splitter-pane content="<div></div>"></e-splitter-pane>
    </e-splitter-panes>
</ejs-splitter>

<div id="drag-element"><p>Draggable Element </p></div>

<script>
    var dragElement = document.getElementById('drag-element');
    var draggable = new ej.base.Draggable(dragElement, { clone: false });
</script>

<style>
    #drag-element {
        height: 100px;
        width: 150px;
        border: 1px solid #cecece;
        cursor: move;
        user-select: none;
        color: #6a77a7;
        touch-action: none;
    }

    p {
        padding-top: 20px;
        text-align: center;
        margin: 14px 0px 14px 0px;
    }
</style>