@page
@using StockTrade.Application.Interfaces;
@inject IWatchListRepository _watchListRepo;
@model Gihun_StockTrade_Portpolio.Pages.WatchList.IndexModel

@{
    var dataSource = _watchListRepo.SymbolList();
    var UserEmail = Request.Cookies["Email"];
    var test = UserEmail;
}

<head>
    <link href="http://cdn.syncfusion.com/21.1.35/js/web/flat-azure/ej.web.all.min.css" rel="stylesheet" />
    <script src="http://cdn.syncfusion.com/js/assets/external/jquery-1.10.2.min.js"></script>
    <script src="http://cdn.syncfusion.com/21.1.35/js/web/ej.web.all.min.js"></script>
</head>


<div style="margin-bottom:2px; font-weight:700;">
    <t6> My Watchlist </t6>
</div>


@*<div>
    @foreach (var item in News)
    {

        <p> @item.content.finance.stockTickers.ToString() </p>
        <p> @item.content.title </p>
        <p> @item.content.pubDate </p>
        <p> @item.content.thumbnail </p>
        <br />
        <br />
        <br />

    }
</div>*@


<div class="view">
    <div class="wrappers">

        <table class="table">
            <thead>
                <tr>
                    <th class="sticky-col first-col">Icon</th>
                    <th class="sticky-col second-col">No.</th>
                    <th class="sticky-col third-col">Symbol</th>
                    <th class="sticky-col fourth-col">Name</th>
                    <!-- Movement는 나중에 시간나면 해보자 -->
                    @*<th scope="col">Movement</th>*@
                    <th>Price</th>
                    <th>After Hours</th>
                    <th>Change</th>
                    <th>% Change</th>
                    <th>Open</th>
                    <th>Prev Close</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Volume</th>
                    <th>Turnover</th>
                    <th>Avg Vol(3M)</th>
                    <th>% Range</th>
                    <th>52 Wk High</th>
                    <th>52 Wk Low</th>
                    <th>Market Cap</th>
                    <th>P/E (TTM)</th>
                    <th>P/Dividend</th>
                    <th>EPS</th>
                    <th>Div Yield</th>
                    <th>% Turnover</th>
                    <th>Exchange</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="sticky-col first-col">opt</td>
                    <td class="sticky-col second-col">1</td>
                    <td class="sticky-col third-col">TSLA</td>
                    <td class="sticky-col fourth-col">Tesla Inc</td>
                    @*<td>Movement</td>*@
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                    <td>Price</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h1> test </h1>

<form method="post" asp-page="/WatchList/Index" asp-page-handler="AddSymbol">
    <ejs-autocomplete id="symbol" dataSource=@dataSource filter-type="Contains" show-popup-button="true" enable-auto-fill="true" watermark-text="Select value">
        <e-autocomplete-fields id="symbol" Value=Symbol value=Symbol key="Symbol"></e-autocomplete-fields>
    </ejs-autocomplete>
</form>

<div class="row">
    <div tabindex="0" class="e-card card-section" id="basic">

        <div class="item">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title"> Corporate Actions </div>
                </div>
            </div>
            <div class="e-card-content">
                Advanced UWP: Communicating with Windows 10 and Other Apps, the second in a five-part series written by Succinctly series
                author Matteo Pagani. To download the complete white paper, and other papers in the series, visit
                the White Paper section of Syncfusion’s Technology Resource Portal.
            </div>
        </div>

    </div>

    <div tabindex="0" class="e-card card-section" id="basic">

        <div class="item">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title"> News </div>
                </div>
            </div>
            <div class="e-card-content">
                Advanced UWP: Communicating with Windows 10 and Other Apps, the second in a five-part series written by Succinctly series
                author Matteo Pagani. To download the complete white paper, and other papers in the series, visit
                the White Paper section of Syncfusion’s Technology Resource Portal.
            </div>
        </div>

    </div>
</div>





<style>

    .popup {
        width: 500px;
        padding: 30px;
    }

    input {
        width: 100%;
        padding: 10px 15px;
    }



    .card-section {
        width: 50%;
        height: 350px;
    }

    .e-card .e-card-horizontal .e-card-stacked {
        justify-content: flex-start;
        margin: initial;
    }

    .view {
        /*width: 1650px;*/
        width: 100%;
        margin: auto;
        height: 600px;
    }

    .wrappers {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: -webkit-sticky;
        position: sticky;
        background-color: white !important;
    }

    .first-col {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        left: 0px;
    }

    .second-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 100px;
    }

    .third-col {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        left: 250px;
    }

    .fourth-col {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
        left: 450px;
    }

    .item {
        display: inline-block;
        white-space: normal;
        flex: 1;
        height: 100%;
        width: 100%;
    }

</style>